@import url('https://fonts.googleapis.com/css2?family=Stoke&display=swap');
h2 {
    font-family: 'Stoke', serif;
}
.footer_div{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: inherit;
}